<h1><%= @participation.contest.title %></h1>

<h2><%= @participation.user.nickname %></h2>

<h3>See your tournament</h3>

 <%= render 'shared/cup_4_players' %>

<h3>Available coins: <%= @participation.betcoins if @participation.betcoins %> <i class="fas fa-coins"></i></h3>

<div class="container">
  <% @bets.each do |bet| %>
    <p>You bet <%= bet.amount %> on <%= bet.resource.send("choice#{bet.choice}".to_sym) %></p>
  <% end %>
</div>


<%# Events %>


<% @events.each_with_index do |event, index| %>

  <h3><%= event.title %></h3>

  <%# Update event status if it's still 'coming' %>

  <% if event.status == 'coming' %>
    <%= link_to 'Close bets for this one', update_status_participation_event_path(@participation, event), method: :patch, class: 'btn btn-warning', data: {confirm: "Do you really want to close bets for this event? You can't go back on this hard decision"} %>
  <% end %>

  <%# Update result of event if CurrentUser is the creator AND the Winner is not defined yet %>

  <% if (event.user_id == @participation.user_id) && !(event.choice_win) %>
    <%= render 'update_event_modal', participation: @participation, event: event, index: index %>
  <% end %>

  <%# Display the 2 bets buttons, disabled if the event is unbetable %>

  <% disabled = event.betable?(current_user) ? '' : 'disabled' %>
  <% bet1 = Bet.new(resource: event, choice: 1) %>
  <% bet2 = Bet.new(resource: event, choice: 2) %>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

<% end %>

<hr><hr>

 <div class="show-button-modal">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Submit a new bet
    </button>
 </div>

    <!-- Modal -->

 <%= render 'events/modal_event' %>


<br><br><br><br><br><br>

<% @participation.contest.games.reject{ |game| game.status == 'pending' }.each_with_index do |game, index| %>

  <% disabled = game.betable?(current_user) ? '' : 'disabled' %>
  <% bet1 = Bet.new(resource: game, choice: 1) %>
  <% bet2 = Bet.new(resource: game, choice: 2) %>

  <h3><%= game.name %></h3>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

<% end %>

