<h1><%= @participation.contest.title %></h1>

<h2><%= @participation.user.nickname %></h2>

<div class=container>
  <% @events.order(start_time: :desc).each do |event| %>
    <%= event.title %> /
    <%= event.description %> /
    <%= event.choice_one %> /
    <%= event.choice_two %> /
    <%= event.start_time.strftime("%b %d, %Y - %H:%M") %> /
    <%= event.end_time.strftime("%b %d, %Y - %H:%M") %>
    <br>
  <% end %>
</div>
----------
<div class="container">
  <% @bets.each do |bet| %>
    <%= bet.choice %> - <%= bet.amount %>
  <% end %>
</div>

<% @events.each_with_index do |event, index| %>

  <% if event.betable?(current_user) %>
    <% disabled = '' %>
  <% else %>
    <% disabled = 'disabled' %>
  <% end %>

  <%= render 'shared/bet_button', locals: {
    index: index,
    value: 1,
    resource: event,
    disabled: disabled
  } %>

  <%= render 'shared/bet_button', locals: {
    index: index,
    value: 2,
    resource: event,
    disabled: disabled
  } %>

<% end %>


 <div class="show-button-modal">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Create event
    </button>
 </div>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add event</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" id="form-container-event">


        <%= render 'events/form_events', participation: @participation, event: @event %>


        </div>
      </div>

    </div>
  </div>
</div>

<br><br><br><br><br><br>

<% @participation.contest.games.each_with_index do |game, index| %>

  <% if game.betable?(current_user) %>
    <% disabled = '' %>
  <% else %>
    <% disabled = 'disabled' %>
  <% end %>

  <%= render 'shared/bet_button', locals: {
    index: index,
    value: 1,
    resource: game,
    disabled: disabled
  } %>

  <%= render 'shared/bet_button', locals: {
    index: index,
    value: 2,
    resource: game,
    disabled: disabled
  } %>

  <hr>
  <hr>
  <hr>

<% end %>

