<div class="container">
  <h1><%= @participation.contest.title %></h1>

  <% if @participation.contest.creator_id == @participation.user_id %>
    <%= link_to 'Manage contest', contest_path(@participation.contest) %>
  <% end %>

  <h3>Available coins: <%= @participation.betcoins %> <i class="fas fa-coins"></i></h3>

  <%= render 'shared/tournament', participation: @participation %>

   <div class="show-button-modal">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Submit a new bet
      </button>
   </div>

      <!-- Modal -->

   <%= render 'events/modal_event' %>

</div>
