<h1><%= @participation.contest.title %></h1>

<h2><%= @participation.user.nickname %></h2>

<h2>Available coins: <%= @participation.betcoins if @participation.betcoins %></h2>

<div class=container>
  <% @events.order(start_time: :desc).each do |event| %>
    <%= event.title %> /
    <%= event.description %> /
    <%= event.choice_one %> /
    <%= event.choice_two %> /
    <%= event.start_time.strftime("%b %d, %Y - %H:%M") if event.start_time %> /
    <%= event.end_time.strftime("%b %d, %Y - %H:%M") if event.end_time %>
    <br>
  <% end %>
</div>
----------
<div class="container">
  <% @bets.each do |bet| %>
    <p>You bet  <%= bet.amount %> on
      <% if bet.choice == 1 %>
        <%= bet.resource.choice_one %>
      <% else %>
        <%= bet.resource.choice_two %>
      <% end %> </p>
  <% end %>
</div>

<% @events.each_with_index do |event, index| %>

  <% if event.betable?(current_user) %>
    <% disabled = '' %>
  <% else %>
    <% disabled = 'disabled' %>
  <% end %>

  <% bet1 = Bet.new(resource: event, choice: 1) %>
  <% bet2 = Bet.new(resource: event, choice: 2) %>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

  <%#= render 'shared/bet_button', locals: {
    index: index,
    value: 1,
    resource: event,
    disabled: disabled,
  } %>

  <%#= render 'shared/bet_button', locals: {
    index: index,
    value: 2,
    resource: event,
    disabled: disabled
  } %>

<% end %>


 <div class="show-button-modal">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Create event
    </button>
 </div>

    <!-- Modal -->
 <%= render 'events/form_events', participation: @participation, event: @event %>


<br><br><br><br><br><br>

<% @participation.contest.games.reject{ |game| game.status == 'pending' }.each_with_index do |game, index| %>

  <% if game.betable?(current_user) %>
    <% disabled = '' %>
  <% else %>
    <% disabled = 'disabled' %>
  <% end %>


  <% bet1 = Bet.new(resource: game, choice: 1) %>
  <% bet2 = Bet.new(resource: game, choice: 2) %>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

  <hr>
  <hr>
  <hr>

<% end %>

