<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(<%= image_path(@participation.contest.picture_path) %>)">
  <div class="show-title">
    <%= @participation.contest.title %>
  </div>
  <div class="bettings-info">
    <div class="manager">
      <% if @participation.contest.creator_id == @participation.user_id %>
        <%= link_to 'Manage contest', contest_path(@participation.contest) %>
      <% end %>
    </div>
    <div class="available-coins">
      <p>Available coins: <span id="banner-coins-counter"><%= @participation.betcoins.round(1) %></span> <i class="fas fa-coins"></i></p>
    </div>
  </div>
</div>

<%# COINS ICON %>

<div id="coins-icon">
  <strong><span id="fixed-coins-counter"><%= @participation.betcoins.round(1) %></span></strong>&nbsp;<i class="fas fa-coins"></i>
</div>

<div class="container">

    <%= render 'shared/tournament', participation: @participation %>

      <!-- Modal -->

   <%= render 'events/modal_event' %>

</div>
