<h1><%= @participation.contest.title %></h1>

<h2><%= @participation.user.nickname %></h2>

<div class=container>
  <% @events.order(start_time: :desc).each do |event| %>
    <%= event.title %> /
    <%= event.description %> /
    <%= event.choice_one %> /
    <%= event.choice_two %> /
    <%= event.start_time.strftime("%b %d, %Y - %H:%M") %> /
    <%= event.end_time.strftime("%b %d, %Y - %H:%M") %>
    <br>
  <% end %>
</div>
----------
<div class="container">
  <% @bets.each do |bet| %>
    <%= bet.choice %> - <%= bet.amount %>
  <% end %>
</div>

<% @events.each do |event| %>
  <p> 1 - <%= event.choice_one %></p>

  <%= render 'shared/bet_form', locals: {
    value: 1,
    resource_type: 'Event',
    resource_id: event.id
  } %>

  <p> 2 - <%= event.choice_two %></p>
    <%= render 'shared/bet_form', locals: {
    value: 2,
    resource_type: 'Event',
    resource_id: event.id
  } %>
  <% end %>


-----

 <div class="show-button-modal">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Create event
    </button>
 </div>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add event</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" id="form-container-event">


        <%= render 'events/form_events', participation: @participation, event: @event %>


        </div>
      </div>

    </div>
  </div>
</div>

-----

<% @participation.contest.games.each do |game| %>
  <p>player_one: <%= game.player_one.name %></p>

  <%= render 'shared/bet_form', locals: {
    value: 1,
    resource_type: 'Game',
    resource_id: game.id
  } %>

  <br>

  <p>player_two: <%= game.player_two.name %></p>

  <%= render 'shared/bet_form', locals: {
    value: 2,
    resource_type: 'Game',
    resource_id: game.id
  } %>

  <hr>
<% end %>

