<h1><%= @participation.contest.title %></h1>

<h2><%= @participation.user.nickname %></h2>

<h3>Available coins: <%= @participation.betcoins if @participation.betcoins %> <i class="fas fa-coins"></i></h3>


<div class="container">
  <% @bets.each do |bet| %>
    <p>You bet <%= bet.amount %> on <%= bet.resource.send("choice#{bet.choice}".to_sym) %></p>
  <% end %>
</div>

<% @events.each_with_index do |event, index| %>

  <% disabled = event.betable?(current_user) ? '' : 'disabled' %>
  <p> Disabled: <%= disabled %> </p>
  <% bet1 = Bet.new(resource: event, choice: 1) %>
  <% bet2 = Bet.new(resource: event, choice: 2) %>

  <h3><%= event.title %></h3>
  <% if (event.user_id == @participation.user_id) && !(event.choice_win) %>
    <%= render 'update_event_modal', participation: @participation, event: event %>
  <% end %>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

<% end %>

<hr><hr>

 <div class="show-button-modal">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Submit a new bet
    </button>
 </div>

    <!-- Modal -->
 <%= render 'events/form_events', participation: @participation, event: @event %>


<br><br><br><br><br><br>

<% @participation.contest.games.reject{ |game| game.status == 'pending' }.each_with_index do |game, index| %>

  <% disabled = game.betable?(current_user) ? '' : 'disabled' %>
  <% bet1 = Bet.new(resource: game, choice: 1) %>
  <% bet2 = Bet.new(resource: game, choice: 2) %>

  <h3><%= game.name %></h3>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

<% end %>

