<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(<%= image_path(@contest.picture_path) %>)">
  <div class="show-title">
    New contest
  </div>
</div>

<div class="container">
<%= simple_form_for @contest do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :category, as: :radio_buttons, collection: ['cup', 'league'] %>
  <%= f.input :title, placeholder: 'Tournoi de la mort' %>
  <%= f.input :description %>
  <%= f.hidden_field :creator_id, value: current_user.id %>
  <%= f.input :players_nb, collection: [2, 4, 8, 16, 32, 64], id: 'players-nb' %>

  <div id="players-fields"></div>

  <%= f.input :coins_init %>
  <%= f.input :picture_path, class: "form-controlform-text text-muted" %>
  <%= f.button :submit, "Create contest", class: "create-event-btn" %>
<% end %>

</div>
