<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(<%= image_path(@contest.picture_path) %>)">
  <div class="show-title">
    <%= @contest.title %>
  </div>
  <div class="bettings-info">
    <% if Participation.where(user_id: @user.id, contest_id: @contest).empty? %>
      <%= render 'create_participation', participation: @participation, user_id: @user.id, contest_id: @contest.id %>
    <% else %>
      <%= link_to 'Go to gambler view', participation_path(Participation.where(user_id: @user.id, contest_id: @contest).first) %>
    <% end %>
    <div class="code-mail">
      <%= render 'modal_invitation_mail', contest: @contest %>
      <div class="code">
        <%= @contest.code %>
      </div>
    </div>
  </div>
</div>

<!-- Games -->
<div class="container">
  <h3>Quarter-Finals</h3>

  <div class="brackets">
    <% @contest.games.where(phase: 3).order(:id).each do |game| %>
      <div id="parent-admin-card-<%= game.id %>">
        <%= render 'shared/admin_card', game: game %>
      </div>
    <% end %>
  </div>

  <h3>Semi-Finals</h3>

  <div class="brackets">
    <% @contest.games.where(phase: 2).order(:id).each do |game| %>
      <div id="parent-admin-card-<%= game.id %>">
        <%= render 'shared/admin_card', game: game %>
      </div>
    <% end %>
  </div>

  <h3>Final</h3>

  <div class="brackets">
    <% @contest.games.where(phase: 1).order(:id).each do |game| %>
      <div id="parent-admin-card-<%= game.id %>">
        <%= render 'shared/admin_card', game: game %>
      </div>
    <% end %>
  </div>
</div>

