<h1><%= @contest.title %></h1>

<p><%= @contest.description %></p>
<p><%= @contest.code %></p>

<%= simple_form_for @participation do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :contest_id, value: @contest.id %>
  <%= f.button :submit, value: 'Bet on this contest' %>
<% end %>

<%= render 'modal_invitation_mail', contest: @contest %>
