<%= simple_form_for [participation, bet], remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="select-choice">
    <input class="choice" type="radio" name="bet[choice]" value=1 id="select-<%= resource.class.to_s %>-one-<%= resource.id %>">
    <label for="select-<%= resource.class.to_s %>-one-<%= resource.id %>"><%= resource.choice_one %></label>
    <input class="choice" type="radio" name="bet[choice]" value=2 id="select-<%= resource.class.to_s %>-two-<%= resource.id %>">
    <label for="select-<%= resource.class.to_s %>-two-<%= resource.id %>"><%= resource.choice_two %></label>
  </div>
  <%= f.input :amount, label: "Show me what you got", placeholder: "How much?"%>
  <div id="betcoins-remaining">
    <%= "(#{participation.betcoins} betcoins remaining)"%>
  </div>
  <%= f.hidden_field :resource_id, value: resource.id %>
  <%= f.hidden_field :resource_type, value: resource.class.to_s %>
  <%= f.button :submit, class: 'btn btn-info', data: {confirm: "Is that all you got? You can't go back on a bet" }, value: "Kick bets!"%>
<% end %>
