<a class: 'comments-icon', role="button" data-toggle="collapse" href="#comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>" aria-expanded="false" aria-controls="comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>">
  <%= resource.comments.count %> <i class="far fa-comment-alt"></i>
</a>

<div class="collapse in" id="comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>">
  <div class="well">
    <%= render 'shared/comments_flow', resource: resource, participation: participation %>
  </div>


</div>
