<a role="button" data-toggle="collapse" href="#comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>" aria-expanded="false" aria-controls="comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>">
  5 <i class="far fa-comment-alt"></i>
</a>

<div class="collapse" id="comments-collapse-<%= resource.class.to_s %>-<%= resource.id %>">
  <div class="well">
    comment1 <br> comment 2 <br> comment 2 <br> comment 2 <br> comment 2
    <%= render 'shared/comment_form', comment: Comment.new %>
  </div>
</div>
