<div class="card-tournament" data-resource-type="<%= resource.class.to_s %>" data-resource-id="<%= resource.id %>">

  <%#= TITLE IF EVENT %>

  <% if resource.class.to_s == 'Event' %>
    <div class="event-card-title"><%= resource.title %></div>
  <% end %>

  <%#= FLEX BOX %>

  <div class="card-display <%= resource.class.to_s %>-card-height">

  <%#= CHOICE ONE %>

    <% if resource.class.to_s == 'Game' %>
      <%= render 'shared/player_card_body', class: 'card-body', game: resource, number: 'one' %>
    <% elsif resource.class.to_s == 'Event' %>
      <%= render 'shared/event_choice_card_body', event: resource, number: 'one' %>
    <% end %>

  <%#= BOX INFO %>

    <div class="whole-info-box text-center">

      <% if resource.betable?(current_user) %>

        <%#= Display BET NOW button (Game is betable) %>
        <%= render 'shared/odds_sums', resource: resource, class: 'game-info-box' %>
        <% if resource.class.to_s == 'Game' %>
          <%= render 'shared/bet_function_modal', resource: resource, participation: participation, bet: Bet.new %>
        <% end %>

      <% elsif (resource.class.to_s == 'Event') || (resource.player_one && resource.player_two) %>

        <% bet = Bet.where(participation: participation, resource: resource).first %>
        <% if bet && bet.gains %>

          <%#= Bet is closed %>
          <%= render 'shared/odds_sums', resource: resource, class: 'game-info-box' %>
          <%= render 'shared/your_gains', bet: bet %>
        <% elsif bet %>

          <%#= Bet is pending %>
          <%= render 'shared/odds_sums', resource: resource, class: 'game-info-box' %>
          <%= render 'shared/your_bet', bet: bet %>
        <% end %>

      <% else %>
        Incoming...
      <% end %>
    </div>

  <%#= CHOICE TWO %>

    <% if resource.class.to_s == 'Game' %>
      <%= render 'shared/player_card_body', class: 'card-body', game: resource, number: 'two' %>
    <% elsif resource.class.to_s == 'Event' %>
      <%= render 'shared/event_choice_card_body', event: resource, number: 'two' %>
    <% end %>

  </div>

  <%# COMMENTS %>

  <div class="comments-icon">
    <%= render 'shared/comments_collapse', resource: resource, participation: participation %>

    <%# Update event status if it's still 'coming' %>

    <% if resource.class.to_s == 'Event' %>

      <% event = resource %>

      <% if (event.user == participation.user) && event.status == 'coming' %>
        <%= link_to 'Close bets for this one', update_status_participation_event_path(participation, event), method: :patch, class: 'btn btn-warning btn-xs comment-banner-update', data: {confirm: "Do you really want to close bets for this event? You can't go back on this hard decision"} %>
      <% end %>

      <%# Update result of event if CurrentUser is the creator AND the Winner is not defined yet %>

      <% if (event.user == participation.user) && !(event.choice_win) %>
        <%= render 'update_event_modal', participation: participation, event: event, index: index %>
      <% end %>

    <% end %>


  </div>
</div>
