  <div class="checkbox-bet">
    <input type="checkbox" id="bettable-btn" name="Bettable games" unchecked>
    <label for="scales"> Betable games </label>
  </div>

<div class="tournament">

  <h3>Quarter-Finals</h3>

  <div class="brackets">

    <% participation.contest.games.where(phase: 3).order(:id).each do |game| %>

      <% betable_class = game.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> game-group-card game-phase-<%= game.phase %>">
        <%= render 'shared/game_display_card', resource: game, participation: participation %>
      </div>

    <% end %>

  </div>

  <h3>Semi-Finals</h3>

  <div class="brackets">

    <% participation.contest.games.where(phase: 2).order(:id).each do |game| %>

      <% betable_class = game.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> game-group-card game-phase-<%= game.phase %>">
        <%= render 'shared/game_display_card', resource: game, participation: participation %>
      </div>

    <% end %>

  </div>

  <h3>Final</h3>

  <div class="brackets">

    <% participation.contest.games.where(phase: 1).order(:id).each do |game| %>

      <% betable_class = game.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> game-group-card game-phase-<%= game.phase %>">
        <%= render 'shared/game_display_card', resource: game, participation: participation %>
      </div>

    <% end %>

  </div>

  <hr>

  <h3>Events</h3>

   <div class="show-button-modal">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEventModal">
        Submit a new bet
      </button>
   </div>

  <div class="brackets">

    <% @events.order(:id).each_with_index do |event, index| %>

      <% betable_class = event.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> event-group-card">
        <%= render 'shared/game_display_card', resource: event, participation: participation, index: index %>
      </div>

    <% end %>

  </div>

</div>
