<h2>welcome to the dashboard</h2>

<%= link_to "New contest", new_contest_path %>
<!-- Display contest join -->
<hr>
<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-contest">
          <div class="plus-btn-pos">
            <div class="plus-btn">
              <div class="r1"></div>
              <div class="r2"></div>
            </div>
          </div>
        </div>
      </div>
      <% @user.participations.map { |e| e.contest }.each do |contest|%>
        <% contest.participations.where(user: @user).each do |participation| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-contest">
              <div class="contest-image" style="background-image: url(<%= contest.picture_path %>)"></div>
              <% if !contest.picture_path? %>
                <div class="contest-color"></div>
              <% end %>
              <div class="contest-info">
                <%= link_to contest.title, participation_path(participation) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<!-- Display contest create -->
<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-contest">
          <div class="plus-btn-pos">
            <div class="plus-btn">
            </div>
          </div>
        </div>
      </div>
        <% @user.contests.each do |contest| %>
          <% contest.participations.where(user: @user).each do |participation| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-contest">
                <div class="contest-image" style="background-image: url(<%= contest.picture_path %>)"></div>
                <% if !contest.picture_path? %>
                  <div class="contest-color"></div>
                <% end %>
                <div class="contest-info">
                  <%= link_to contest.title, participation_path(participation) %>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'modal_invitation' %>




