<h2>My contests</h2>
<!-- Display contest join -->
<div class="container">
  <h3>As Gambler</h3>
  <div class="cards">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-container">
          <div class="card-contest2">
            <%= render 'modal_invitation' %>
          </div>
        </div>
      </div>
      <% @user.participations.map { |e| e.contest }.each do |contest|%>
        <% contest.participations.where(user: @user).each do |participation| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-container">
              <%= link_to "", participation_path(participation) %>
              <div class="card-contest contest-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(contest.picture_path) %>)">
                <div id="title"><%= contest.title %></div>
              </div>
              <div class="details">
                <span class="gambler">
                  <span id="number-gambler"> <%= contest.participations.count %> </span>
                  <i class="fas fa-user-friends" id="icone-people"></i>
                </span>
                <div class="coins">
                  <span id="number-coins"> <%= participation.betcoins %></span>
                  <span class="fas fa-coins"></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<!-- Display contest create -->
<div class="container">
  <h3>As organizer</h3>
  <div class="cards">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-container">
          <div class="card-contest">
            <div class="plus-btn-pos">
              <div class="plus-btn">
                <%= link_to "", new_contest_path, class: "plus-link" %>
                <div class="r1"></div>
                <div class="r2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @user.contests.each do |contest| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-container">
              <div class="card-contest contest-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(contest.picture_path) %>)">
                <%= link_to "", contest_path(contest) %>
                <div id="title"><%= contest.title %></div>
              </div>
              <div class="details">
                <span class="gambler">
                  <span id="number-gambler"> <%= contest.participations.count %> </span>
                  <i class="fas fa-user-friends" id="icone-people"></i>
                </span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
