<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(<%= image_path(@contest.picture_path) %>)">
  <div class="show-title">
    <%= "#{@contest.title} - Podium" %>
  </div>
  <%#= LINKS TO GO BACK ON ADMIN/GAMBLER VIEWS %>
  <div class="bettings-info">
    <% unless Participation.where(user: current_user, contest: @contest).empty? %>
      <%= link_to participation_path(Participation.where(user: current_user, contest: @contest).first) do %>
        <i class="fas fa-chevron-left"></i> Gambler view
      <% end %>
    <% end %>
    <% if @contest.creator_id == current_user.id %>
      <%= link_to contest_path(@contest) do %>
        Admin view <i class="fas fa-chevron-right"></i>
      <% end %>
    <% end %>
</div>
</div>

<div class="container">

  <%#= PODIUM %>

  <%= render 'podium', players: @participations.map{ |participation| participation.user } %>

  <%#= RANKING TABLE %>

  <table id="ranking-table">
    <thead>
      <tr class="ranking-tr">
        <th class="ranking-th td-rank"><i class="fas fa-trophy"></i></th>
        <th class="ranking-th" colspan="2">Player</th>
        <th class="ranking-th td-betcoins">Score</th>
        <th class="ranking-th td-bets"><i class="fas fa-angle-up"></i></th>
        <th class="ranking-th td-bets"><i class="fas fa-angle-down"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @participations.each_with_index do |participation, index| %>
        <tr class="ranking-tr <%= 'even-row' if index.even? %>">
          <td class="ranking-td td-rank"><strong><%= index + 1 %></strong></td>
          <td class="ranking-td td-avatar"><%= image_tag participation.user.picture_path, class: 'ranking-avatar' %></td>
          <td class="ranking-td"><%= participation.user.nickname %></td>
          <td class="ranking-td td-betcoins"><%= participation.betcoins.round(1) %> Ƀ</td>
          <td class="ranking-td td-bets"><%= Bet.where(participation_id: participation.id).where('gains > 0').count %></td>
          <td class="ranking-td td-bets"><%= Bet.where(participation_id: participation.id).where('gains = 0').count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>