<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kick my bets - Organize contests between friends and colleagues. Forecast and bet on the outcome of the games.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta property="og:title" content="Contests and Tournament generator, bets and forecast | Kick my Bets">
    <meta property="og:description" content="Organize contests between friends and colleagues. Forecast and bet on the outcome of the games.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.kickmybets.fun/">
    <meta property="og:image" content="https://images.unsplash.com/photo-1480563597043-1c877e682fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&h=630&q=80">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('logo.png') %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,100" rel="stylesheet">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
      <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
